.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat center;
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_active {
  background: transparent url('../../../images/like-active.svg') no-repeat center;
  background-size: 21px 18px;
}